<html>

<body>
    <form action="/produtos/salva" method="POST">
        <div>
            <label for="titulo">Título livro</label>
            <input id="titulo" type="text" name="titulo" placeholder="Título do livro" />
        </div>
        <div>
            <label for="preco">Preço livro</label>
            <input id="preco" type="text" name="preco" placeholder="R$" />
        </div>
        <div>
            <label for="descricao">Descrição livro</label>
            <textarea cols="20" rows="10" id="descricao" type="text" name="descricao" placeholder="Descrição do livro"></textarea>
        </div>
        <input value="gravar"  type="submit"/>
    </form>

</body>


</html>